@import "tailwindcss";

/* 1. LIGHT MODE (Default) */
:root {
  --background: #f9f9f9;
  --foreground: #222222; /* Deep charcoal for sharp reading contrast */
}

/* 2. DARK MODE (Activated by next-themes .dark class) */
.dark {
  --background: #121212;
  --foreground: #ababab; /* Your premium muted gray */
}

/* 3. TAILWIND v4 VARIANT CONFIG */
@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-editorial: var(--font-editorial);
  --font-jetmono: var(--font-jetbrains-mono);
  --font-pixel-circle: var(--font-geist-pixel-circle);
  --font-pixel-square: var(--font-geist-pixel-square);
  --font-instrument: var(--font-instrument-sans);
  --font-switzer: var(--font-switzer);
  --font-plex: var(--font-plex-mono);
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 4. THE GLOBAL APPLY */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.5s ease,
    color 0.5s ease; /* Buttery smooth theme crossfade */
}

/* Hide default cursor on devices that use a mouse */
@media (pointer: fine) {
  * {
    cursor: none !important;
  }
}

.hero-item,
.sidebar-item,
.sidebar-item-right {
  opacity: 0;
}
